@charset "UTF-8";

.quadrado {
  border: 3px solid black;
  display: inline-block;
  border-radius: 10px;
  background-color: lightgray;
  width: 300px;
  height: 300px;
}

body {
  background-image: url('imagens/wallpaper001.jpg');
}

div#q1 {
  background-color: skyblue;
}

div#q2 {
  background-image: linear-gradient(to Bottom, yellow, red);
}

div#q3 {
  background-image: url('imagens/pattern003.png');
}
