@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  background-color: #f3f3f3;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover{
  color: #ffcc00;
}

main {
  padding: 40px 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  width: 200px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.1);
}

.product img {
  width: 100%;
  border-radius: 8px;
}

.product h2 {
  margin: 10px 0;
  font-size: 18px;
}

.product p {
  color: #009900;
  font-weight: bold;
}

.product button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #ffcc00;
  color: #222;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 15px;
}

/* Modal escondido por padrão */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-conteudo {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;        /* antes era 300px */
  max-width: 400px;  /* largura máxima pra tablets e desktops */
  text-align: center;
  position: relative;
}

.modal-conteudo img {
  width: 100%;
  height: auto;       /* mantém proporção da imagem */
  border-radius: 8px;
}

#modal-comprar {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.8s, color 0.6s;
}

#modal-comprar:hover {
  background-color: #ffcc00;
  color: #222;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}